#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_test:
ifneq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	dh_auto_test
else
	bash tests/regolith-cosmic-runtime-teardown.sh
	bash tests/regolith-systemd-targets.sh
	dh_auto_test
endif
