[Unit]
Description=Regolith GNOME session helpers
After=gnome-session.target
PartOf=gnome-session.target
Wants=regolith-init-inputd.service regolith-init-displayd.service regolith-init-kanshi.service

[Install]
WantedBy=gnome-session.target
