[Unit]
Description=Regolith COSMIC session helpers
After=cosmic-session.target
PartOf=cosmic-session.target
Wants=regolith-init-inputd.service regolith-init-displayd.service
