[Unit]
Description=Regolith COSMIC native idle service
After=cosmic-session.target
PartOf=regolith-cosmic.target

[Service]
Type=simple
ExecStart=/usr/bin/cosmic-idle
Restart=on-failure
RestartSec=1s
